.footer-subcribe-wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 50px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #2f7fd0;
    background-image: linear-gradient(to right, #2f7fd0, #163358);
}

.subscribe__message-block {
    color: #fff;
}

.subcribe-message {
    color: #fff;
    font-weight: bold;
    font-size: 29px;
    font-size: 20px;
}

.subcribe-tittle {
    color: #fff;
    font-weight: bold;
    width: 90%;
    font-size: 32px;
    font-weight: bold;
}

.subscribe__signup-block {
    width: 40%;
}

.subscribe__signup-block form {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
    color: #000;
    padding: 5px;
    overflow: hidden;
}

.subscribe__signup-block form input {
    padding: 20px;
    width: 70%;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}



.subscribe__signup-block form button {
    border-radius: 50px;
    border: 0;
    padding: 10px;
    background: #163358;
    color: #fff;
    width: 30%;
    min-width: 120px;
}

/* Responsive Mobile*/
@media only screen and (max-width: 600px) {}

/* Responsive Tablet*/
@media only screen and (max-width: 1200px) {
    .footer-subcribe-wrapper {
        flex-direction: column;
        padding: 20px 10px;
        min-height: 210px;
        justify-content: flex-start;
        background: #0069d7;
    }

    .subscribe__signup-block {
        width: 100%;
    }
    .subscribe__message-block {
        text-align: center;
    }

    .subcribe-tittle {
        font-size: 20px;
        width: 100%;
    }

    .subcribe-message {
        font-size: 15px;
    }
    .subscribe__signup-block form{
        padding: 10px;
    }
    .subscribe__signup-block form input {
        font-size: 15px;
    }
    .subscribe__signup-block form button {
        font-size: 20px;
        font-weight: bold;
    }
}